body{
    background-color: #1071cb;
    color: #fff;
    font-family: Helvetica, Verdana, sans;
}

#kontener{
    width: 960px;
    margin: 0 auto;
}

#logo, .primary, .tile{
    float: left;
}

#contact, .secondary{
    float: right;
}

nav ul{
   list-style: none;
   padding: 0;
   background-color: #0962ca;
   border-radius: 10px;
   min-height: 2.4em;
}

nav ul li{
    display: inline;
}

nav ul li:last-child{
    float: right;
}

nav ul li a{
    display: block;
    float: left;
    height: 1.2em;
    padding: 0.6em 1em;
    margin: 0;
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover, a.active{
    background-color: #95bdec;
}

nav ul li:first-child a:hover, nav ul li:first-child a:active{
    border-radius: 10px 0 0 10px;
}

nav ul li:last-child a:hover, nav ul li:last-child a:active{
    border-radius: 0 10px 10px 0;
}

.primary{
    width: 720px;
}

.secondary{
    width: 240px;
}

.bar{
}

.clear{
    clear: both;
}

.hidden{
    display: none;
}

.tile{
    position: relative;
    min-height: 230px;
    width: 200px;
    background-color: #fff;
    color: #111;
    font-size: 0.8em;
    text-align: center;
    margin: 0 10px 10px 0;
    padding: 10px 10px 50px 10px;
    border-radius: 10px;
}

.tile p span{
    font-weight: bold;
}

.tile a{
    display: block;
    position: absolute;
    width: 120px;
    bottom: 16px;
    left: 40px;
    background-color: #0a67d4;
    color: #fff;
    border-radius: 10px;
    font-size: 12px;
    text-decoration: none;
    padding: 8px 10px;
}

footer{
   background-color: #7ad500;
   border-radius: 7px;
   min-height: 2.4em;
   line-height: 2.4em;
   text-align: center;
}

footer span{
    display: inline-block;
    vertical-align: middle;
}